<div class="section" id="about">
  <div class="landingMobile" *ngIf="typePage=='movil'"></div>
  <div class="container">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Nosotros</h4>
        <hr>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Assumenda blanditiis facere fugit incidunt neque non rerum soluta tempore.
          Accusamus aperiam consectetur dolores doloribus fugit necessitatibus optio possimus quod recusandae veritatis.
          Some quick example text to build on the card title and make up the bulk of
          the card's content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Architecto cumque delectus distinctio ducimus eius eum ex fugiat ipsum laborum
          libero magnam praesentium quibusdam repellat sapiente tempora temporibus, vero!
          Fugit, modi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias
          beatae consectetur culpa cumque deleniti eius ipsum, iusto, laboriosam mollitia
          numquam sapiente unde veritatis? Deleniti dignissimos doloremque id laborum ratione.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam expedita facere illo neque, quis vel. Accusantium, adipisci aspernatur consequuntur enim eos facilis impedit molestiae placeat quidem quis reprehenderit tempore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, asperiores, atque aut dolores eos error esse exercitationem fugit, illo iste natus nostrum porro quas quo saepe similique temporibus veniam?</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
