/* You can add global styles to this file, and also import other style files */
.section{
    width: 100%;
    /*height: 1000px;*/
    background-color: transparent;
}

html, body {
    height: 100%;
    width: 100%;
    background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
.menuOption{
    font-size: 120%;
    color: white;
}

.fa{
    cursor: pointer;
    color: white;
    font-size: 120%;
    padding: 4px;
}

img {
    max-width: 100%;
    height: auto;
}

/*Div para secciones mobiles*/
.landingMobile {
    height: 100px;
}
@media (min-width: 576px) {
    .landingMobile {
        height: 120px;
    }
}
@media (min-width: 768px) {
    .landingMobile {
        height: 130px;
    }
}
@media (min-width: 992px) {
    .landingMobile {
        height: 150px;
    }
}
@media (min-width: 1200px) {
    .landingMobile {
        height: 200px;
    }
}